@model OnlineShop.Web.ViewModels.Administration.Dashboard.IndexCategoryViewModel
@{ this.ViewData["Title"] = "Admin dashboard"; }

<h1 class="category-h1">CATEGORIES</h1>

@foreach (var category in Model.Categories)
{
<div class="card category-name-holder">
    <div class="card-body category-name" data-id="@category.Id">
        @category.Name
    </div>
</div>}

<button type="button" class="btn btn-success btn-lg">Create category</button>

@section Scripts {

    <script type="text/javascript" src="~/js/administartor-dashboard.js"></script>
}